.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.task,
.markdown {
  height: 600px;
  flex: 1;
  overflow: hidden;
  padding: 10px;
}

.task {
  background-color: #aaa;
}

.markdown {
  background-color: #ccc;
  margin-left: 10px;
}

.hide {
  display: none;
}