.modal-container {
    display: flex;
    justify-content: space-between;
}

.style-selector__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 40%;
}

.new-type__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}